* {
        box-sizing: border-box;
      }
      
body {
         font-family: Arial, Helvetica, sans-serif;
          margin: 0;
         
  
}
 
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


 input:enabled {
  background: RGB(0, 255, 255);
}


input : disabled {

  background: gray;
}


.loginbutton {
  background-color:rgb(224,255,255);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginbutton:hover {
  
  opacity: 1;
  background-color: rgb(0,0,255);

}

 
.imgcontainer {
  text-align: center;
  margin-top: 12px;
 padding-top: 32px;
/* background-color: red;
*//* margin-top: 0;
*/
}

img.avatar {
  width: 33%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  width: 100%;

 }

span.psw {
  float: right;
  padding-top: 16px;
}
 
 
 hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

 
 @media screen and (min-width: 300px) { 


 .glyphicon-large {
    
   font-family: Arial, Helvetica, sans-serif;
    margin: 12px;
    
 
}

.navbar-toggler {
   width: 3.1em;
   float: right;
}
}
   